@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.dark .notion.light-mode {
  --fg-color: rgba(255, 255, 255, 0.9);
  --fg-color-0: var(--fg-color);
  --fg-color-1: var(--fg-color);
  --fg-color-2: var(--fg-color);
  --fg-color-3: var(--fg-color);
  --fg-color-4: var(--fg-color);
  --fg-color-5: rgba(255, 255, 255, 0.7);
  --fg-color-6: #fff;
  --fg-color-icon: #fff;

  --bg-color: #2f3437;
  --bg-color-0: rgb(71, 76, 80);
  --bg-color-1: rgb(63, 68, 71);
  --bg-color-2: rgba(135, 131, 120, 0.15);
}
